/*Общие стили*/

body {
    font-family: 'Roboto', Arial, sans-serif;
    color: #ffffff;
    background-color: #849d8f;
    
}

.container {
    width: 1200px;
    padding-right: 27px;
    padding-left: 27px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    display: none;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.button {
    background-image: -moz-linear-gradient(90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
    box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
    border: none;
    font-weight: bold;
    text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
    -moz-transform: matrix(1.04013375779322, 0, 0, 1.04013375779322, 0, 0);
    -webkit-transform: matrix(1.04013375779322, 0, 0, 1.04013375779322, 0, 0);
    -ms-transform: matrix(1.04013375779322, 0, 0, 1.04013375779322, 0, 0);
    color: #ffffff;
}

.button:hover {
    background-image: -moz-linear-gradient(90deg, rgb(245, 134, 105) 0%, rgb(236, 111, 94) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(245, 134, 105) 0%, rgb(236, 111, 94) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(245, 134, 105) 0%, rgb(236, 111, 94) 100%);
}

.button:active {
    background-image: -moz-linear-gradient(90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(242, 104, 67) 0%, rgb(231, 74, 53) 100%);
    box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.5);
}

.shadow {
    border-radius: 5px;
    background-color: rgb(248, 247, 244);
    box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
    position: absolute;
    width: 272px;
    height: 69px;
    z-index: 270;
}


.sidebar {
    width: 220px;
    margin-right: 20px;
    flex-shrink: 0;
}


.main-logo {
    position: absolute;
    top: 10px;
}

.header-nav {
    width: 405px;
    height: 84px;
    font-size: 16px;
    color: #ffffff;
    text-decoration: none;
    display: block;
    position: absolute;
    left: 200px;
    top: 5px;
}

.header-nav ul {
    list-style: none;
    display: flex;
    padding-left: 0;
}

.header-nav li {
    flex-grow: 1;
}

.header-nav a {
    display: block;
    text-decoration: underline;
    color: #ffffff;
    text-align: center;
    line-height: 32px;
    height: 32px;
    border-radius: 16px;
    position: relative;
    font-weight: bold;
}

.header-nav a:hover {
    color: #000000;
    text-decoration: none;
    background-color: #f7f6f3;

    transition: all 300ms;
}

.header-nav a:active {
    background-color: rgba(248, 247, 244, 0.988);
    box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.4);
    transition: all 200ms;
}



.header-right {
    height: 56px;
    width: 267px;
    display: flex;
    position: absolute;
    top: 0px;
    right: 27px;
}

.header-right ul {
    list-style: none;
    display: flex;
    font-size: 14px;

}

.header-right li {
    flex-grow: 1;
}

.header-search {
    height: 36px;
    width: 36px;
    background-image: url(../img/search.png);
    background-repeat: no-repeat;
    background-color: #a1b6aa;
    background-position: 50% 50%;
    border-radius: 18px;
    position: absolute;
    left: 5px;
}

.header-search form {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 45px;
    right: 0px;
    width: 344px;
    height: 87px;
    background-color: #ffffff;
    border: 23px solid #f8f7f4;
    border-left-width: 17px;
    border-radius: 5px;

}

.header-search form input {
    width: 310px;
    height: 42px;
    border: 1px solid #d3d3d2;
    color: #999999;
    border-radius: 3px;
    padding-left: 15px;
}



.header-search:hover {
    background-image: url(../img/search-black.png);
    background-repeat: no-repeat;
    background-color: #f8f7f4;
    background-position: 50% 50%;
    transition: all 300ms;
}


.header-search:hover form {
    opacity: 1;
    visibility: visible;
    transition: all 300ms;
}


.header-enter {
    height: 36px;
    width: 94px;
    background-image: url(../img/enter.png);
    background-repeat: no-repeat;
    background-color: #a1b6aa;
    background-position: 10px 50%;
    padding-left: 42px;
    line-height: 35px;
    border-radius: 18px;
    margin-right: 12px;
    position: absolute;
    left: 60px;
}

.header-cart {
    height: 36px;
    width: 94px;
    background-image: url(../img/cart.png);
    background-repeat: no-repeat;
    background-color: #a1b6aa;
    background-position: 10px 50%;
    padding-left: 42px;
    line-height: 35px;
    border-radius: 18px;
    position: absolute;
    right: 0px;
}



.header-enter form {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: 45px;
    right: 0px;
    width: 278px;
    height: 215px;
    background-color: #f8f7f4;
    border-radius: 5px;

}

.header-enter form input {
    width: 240px;
    height: 42px;
    border: 1px solid #d3d3d2;
    color: #999999;
    border-radius: 3px;
    padding-left: 15px;
    margin-left: 20px;
    margin-top: 20px;
}

.header-enter:hover form {
    opacity: 1;
    visibility: visible;
    transition: all 300ms;
}

.header-enter:hover {
    background-image: url(../img/enter-black.png);
    background-repeat: no-repeat;
    background-color: #f8f7f4;
    background-position: 10px 50%;
    transition: all 300ms;
    color: #323232;
}


.button--enter {
    height: 50px;
    width: 100px;
    border-radius: 25px;
    position: absolute;
    font-size: 18px;
    color: #fefefe;
    top: 140px;
    left: 20px;
}



.header-enter a {
    font-size: 13px;
    display: block;
    color: #000000;
    position: absolute;
}

.header-enter-pass {
    top: 135px;
    right: 40px;
}

.header-enter-reg {
    top: 160px;
    right: 22px;
}

.header-catalog {
    position: relative;
}

.header-catalog ul {
    display: block;
    width: 144px;
    height: 172px;
    background-color: #f8f7f4;
    color: #000000;
    list-style: none;
    line-height: 30px;
    position: absolute;
    top: 40px;
    left: -5px;
    opacity: 0;
    visibility: hidden;
}

.header-catalog li {
    list-style: none;
}

.header-catalog li a {
    display: block;
    color: #000000;
    text-decoration: none;
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-align: left;
    padding-left: 20px;
    font-size: 14px;
    border-radius: 0px;
    font-weight: normal;
}

.header-catalog li:first-child {
    padding-bottom: 3px;
    border-bottom: 1px solid #d1d0ce;
    font-weight: bold;
    padding-top: 5px;
}

.header-catalog li:first-child a {
    font-weight: bold;
}

.header-catalog:hover ul {
    opacity: 1;
    visibility: visible;
}

.header-catalog li a:hover {
    text-decoration: none;
    background-color: #fbded7;
    font-weight: normal;
    transition: all 300ms;
}

.header-catalog li:first-child a:hover {
    font-weight: bold;
    text-decoration: none;
    background-color: #fbded7;
    transition: all 300ms;
}

.header-catalog li a:active {
    background-color: #f6b5a5;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.4);
    transition: all 200ms;
}

.header-catalog li:first-child a:active {
    background-color: #f6b5a5;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0);
    transition: all 200ms;
}

.header-time {
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    right: 0px;
    top: 72px;
    color: #ffffff;
}

.header-tel {
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    text-decoration: none;
    right: 0px;
    top: 96px;
    color: #ffffff;
}

.main-slider {
    background-image: url(../img/icecream-slide1.png);
    background-repeat: no-repeat;
    background-position: 55% 45%;
    background-color: #849d8f;
    height: 881px;

}

.main-slider h3 {
    position: absolute;
    line-height: normal;
    font-weight: bold;
    font-size: 60px;
    text-align: center;
    display: block;
    top: 325px;
    left: 23%;
}

.main-slider button {
    position: absolute;
    border-radius: 32px;
    left: 460px;
    top: 542px;
    width: 280px;
    height: 64px;
    color: #ffffff;
    font-weight: bold;
    font-size: 30.765px;
    line-height: 1.375;
    text-align: center;
}

.main-advertising {
    margin-top: -230px;
}

.main-advertising ul {
    display: flex;
    padding: 0;
    list-style: none;
    margin: 0;
    margin-bottom: 39px;
}

.main-advertising li {
    width: 560px;
    height: 230px;
    border-radius: 15px;
    padding-left: 20px;
    position: relative;
}

.main-advertising h4 {
    font-size: 35px;
    padding-top: 21px;
    line-height: 35px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.main-advertising p {
    font-size: 18px;
    line-height: 22px;
    margin-top: 21px;
}

.main-advertising li:first-child {
    background-image: url(../img/raspberries.png);
    background-repeat: no-repeat;
    margin-right: 26px;
}

.main-advertising li:nth-child(2) {
    background-image: url(../img/chocolate.png);
    background-repeat: no-repeat;
}

.main-advertising button {
    position: absolute;
    font-size: 18px;
    width: 166px;
    height: 46px;
    border-radius: 23px;
    bottom: 25px;
    right: 22px;
}



.main-items ul {
    display: flex;
    padding: 0;
    margin: 0;
    text-decoration: none;
    height: 340px;
    margin-bottom: 26px;
}

.main-items-item {
    display: flex;
    width: 267px;
    margin-right: 26px;
    position: relative;
}

.main-items-item img {
    width: 267px;
    height: 267px;
}

.main-items .main-items-item:last-child {
    margin-right: 0px;
}

.main-items-item a {
    font-size: 16px;
    position: absolute;
    top: 283px;
    text-align: center;
    color: #ffffff;
}

.main-items-item a:hover {
    color: #ffbc9e;
}

.main-items-item--hit {
    position: relative;
}

.main-items-item p {
    color: #ffffff;
    position: absolute;
    font-size: 45px;
    font-weight: bold;
    top: 150px;
}

.main-items-item p span {
    font-size: 30px;
}

.main-items-item--hit::before {
    content: '';
    display: block;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #fff;
    background-image: url(../img/hit.png);
    position: absolute;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;

}

.main-shop {
    height: 308px;
    background-image: url(../img/wafer.png);
    background-repeat: no-repeat;
    margin-bottom: 39px;
}

.main-shop h4 {
    font-size: 24px;
    color: #323232;
    padding-left: 20px;
    line-height: 30px;
    padding-top: 30px;
    font-weight: bold;
    margin-bottom: 0px;
}
.main-shop ul {
    display: flex;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    flex-wrap: wrap;
    margin:0px;
    padding:0px;
    
}

.main-shop li {
    width: 490px;
    margin-left: 65px;
    margin-top: 33px;
    position: relative;
}

.main-shop p {
    color: #323232;
    margin:0px;
    padding: 0px;
    font-size: 16px;
}

.main-shop li::before {
    content: '';
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: url(../img/icecream.png);
    position: absolute;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    left: -55px;
    top: -20px;
}

.main-shop li:nth-child(2)::before {
    background-image: url(../img/cow.png);
}

.main-shop li:nth-child(3)::before {
    background-image: url(../img/leaf.png);
}

.main-shop li:nth-child(4)::before {
    background-image: url(../img/thermometer.png);
}


.main-news ul {
    display: flex;
    padding: 0;
    list-style: none;
    margin: 0;
    margin-bottom: 39px;
}

.main-news li {
    width: 560px;
    height: 220px;
    border-radius: 15px;
    padding-left: 20px;
    position: relative;
    color: #323232;
}

.main-news h4 {
    font-size: 16px;
    padding-top: 21px;
    line-height: 22px;
    margin-block-start: 0px;
    margin-block-end: 0px;

}

.main-news p {
    text-decoration: underline;
    color: #323232;
    font-size: 24px;
    margin-top: 20px;
    line-height: 30px;
    font-weight: bold;
}

.main-news a:hover p {
    color: #e84d37;
}

.main-news li:first-child {
    background-image: url(../img/strawberry.png);
    background-repeat: no-repeat;
    margin-right: 26px;
}

.main-news li:nth-child(2) {
    background-image: url(../img/mail-bg.png);
    padding: 6px;
}

.main-news li:nth-child(2) div {
    background-color: #f8f7f4;
    display: flex;
    border-radius: 15px;
    height: 208px;
    padding-top: 30px;
    padding-left: 20px;
    line-height: 22px;
    color: #5a5a5a;
    position: relative;
}

.main-news input[type="text"] {
    width: 370px;
    height: 44px;
    position: absolute;
    left: 18px;
    bottom: 33px;
    border: 1px solid #d3d3d2;
    padding-left:15px;
    border-radius: 5px;
}


.main-news .button {
    width: 130px;
    height: 46px;
    border-radius: 23px;
    position: absolute;
    bottom: 34px;
    right: 20px;
}


.main-map {
    margin-top:40px;
    padding-left: 0px;
    padding-right: 0px;
    width: 1200px;
    height: 430px;
    background-image: url(../img/map.png);
    margin-right: auto;
    margin-left: auto;
    position: relative;
}

.main-map-adress {
    display: block;
    position: absolute;
    width: 304px;
    height: 304px;
    background-color: #fffffe;
    right: 27px;
    top: 64px;
    border-radius: 15px;
}

.main-map-adress p {
    margin: 0;
   padding-left: 35px;
   padding-top: 20px;
   line-height: 20px;
    font-size: 14px;
    font-weight: normal;
    color: #000000;
    text-decoration: none;
}

.main-map-adress span {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    
}

.main-map-adress a {
    text-decoration: none;
    color: #000000;
}

.main-map-adress button {
    height: 46px;
    width: 254px;
    border-radius: 23px;
    position: absolute;
    right: 27px;
    bottom: 30px;
}

.footer {
    height: 105px;
}

.footer-social-networks {
    display: flex;
    list-style: none;
    width: 200px;
    height: 105px;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

.footer-social-networks li {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-grow: 1;
}

.footer-social-networks li a {
    display: block;
    font-size: 0;
    line-height: 0;
    width: 38px;
    height: 38px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}

.footer-social-networks li:first-child a {
    background-image: url(../img/social_networks/twitter.png);
}

.footer-social-networks li:nth-child(2) a {
    background-image: url(../img/social_networks/insta.png);
}

.footer-social-networks li:nth-child(3) a {
    background-image: url(../img/social_networks/fb.png);
}
.footer-social-networks li:nth-child(4) a {
    background-image: url(../img/social_networks/vk.png);
}

.footer-documents {
    display: flex;
    list-style: none;
    width: 340px;
    height: 45px;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
    position: absolute;
    left: 425px;
    top: 30px;
}

.footer-documents li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: left;
    width: 170px;
}

.footer-documents li a {
    text-decoration: underline;
    font-size: 13px;
    font-weight: normal;
    color: #ffffff;
}

.footer-documents li:first-child a {
    font-weight: bold;
}

.footer-documents li:first-child::before {
    content: '';
    display: block;
    height: 15px;
    width: 13px;
    background-image: url(../img/footer-heart.png);
    position: absolute;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    left: -20px;
}

.footer-copyright {
    position: absolute;
    right: 27px; 
    top: 65px;
    font-size: 12px;
}

.footer-copyright a {
    text-decoration: underline;
    color: #ffffff;
}

.footer-copyright::before {
    content: '';
    display: block;
    height: 39px;
    width: 108px;
    background-image: url(../img/copyright.png);
    position: absolute;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: contain;
    top: -45px;
}

.footer a:hover {
    color: #ffbc9e;
}